doctype html
html
  head
    title
      | Vuejs Workshop
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css',crossorigin="anonymous")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
  body
    block flash
      if flash.errors
        each error in flash.errors
          p #{error.param} #{error.msg}
      if flash.info
        p #{flash.info}
      if flash.success
        p #{flash.success}
    #app
      navigation(user=user)
      block content
    script(src="/javascripts/bundle.js")
