extends ../layout

block content
  h1= title

  if errors != undefined
    ul(class="form-errors")
      each error in errors
        li= error.msg

  form(id="signupform" method="POST")
    input(type="email" name="email" id="email" placeholder=i18n.t('attributes.account.email'))
    input(type="password" name="password" id="password" placeholder=i18n.t('attributes.account.email'))
    input(type="password" name="confirm" id="password" placeholder=i18n.t('attributes.account.password_confirmation'))
    button(type="submit")= i18n.t('sign_up.submit_label')
